@charset "UTF-8";
body{
  background: #fff; overflow-x: hidden;
}
a{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* 小屏幕 */
@media (max-width: 320px) {
  .footer .media-heading{
    font-size: 14px;
  }
  .footer .tel{
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .navbar-collapse.collapse,
  .navbar-toggle{
    display: block!important;
  }
  .navbar-nav,
  .navbar-nav li{
    float: none;
  }
  .navbar .dropdown-menu{
    padding: 0px;
    min-width: 100%;
    background: none;
  }
  .navbar .dropdown-menu li{
    background: #366589;
    margin-bottom: 1px;
  }
  .navbar .dropdown-menu li a{
    color: #fff!important;
    padding: 5px 0 5px 15px!important;
    font-size: 13px;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  .row-product .row>div{
    height: 327px;
    background: #fff;
    padding: 0px;
  }
  .footer .footerL{
    float: right;
  }
  .footer .footerR{
    float: left;
  }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  
}